src/main/mule/test_jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="87d39e2a-6baf-4c07-bde4-d1da756022c0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test_jenkinsFlow" doc:id="dc8b7b31-afdc-4766-8af0-66f58876f0bd" >
		<http:listener doc:name="Listener" doc:id="961345e1-16ca-4d1b-ac37-50ea0a14a372" config-ref="HTTP_Listener_config" path="/jenkinsTest"/>
		<ee:transform doc:name="Transform Message" doc:id="78c1d256-6a7c-469b-beb5-e1e1004f6a10" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"message": "test jenkins deployement is successful"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b832f846-74c3-4f53-a243-96644d1090a7" message="#[payload]"/>
	</flow>
</mule>
